<!-- Hackfix for fixed navbar -->
<div style="margin-bottom: 60px;"></div>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-body border-bottom" style="min-height: 60px;">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <div style="width: 81px; height: 24px;" class="ebox-logo"></div>
        </a>
        <div class="form-check form-switch">
            <input (input)="setDarkmode()" #darkModeCheck id="dark-mode-switch" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="dark-mode-switch">Dark mode</label>
        </div>
    </div>
</nav>