<div class="content p-3 ps-lg-5">
    <div class="p-3 ps-lg-5">
        <h1 class="display-4 fw-bolder">
            To start using ebox
            <div>
                <span class="text-primary">connect your wallet</span> first!
            </div>
        </h1>
        <p class="mb-5 fs-4">Start sending and receiving tokens through ebox.</p>
        <p class="lead fw-bolder">Select your wallet</p>
        <div class="wallet-badges">

            <button class="d-md-none position-relative btn btn-important bg-body d-flex align-items-center" style="border-radius: 3rem;" (click)="connect('INJECTED');">
                <div class="wallet-icon-wrapper">
                    <img height="48" src="assets/img/in-wallet.svg" alt="in-wallet logo">
                </div>
                <div class="position-absolute w-100">In-wallet Provider</div>
            </button>

            <button class="position-relative btn btn-important bg-body d-flex align-items-center" style="border-radius: 3rem;" (click)="connect('BINANCE_CHAIN');">
                <div class="wallet-icon-wrapper">
                    <img height="48" src="assets/img/binance.svg" alt="binance chain wallet logo">
                </div>
                <div class="position-absolute w-100">Binance Chain Wallet</div>
            </button>

            <button class="position-relative btn btn-important bg-body d-flex align-items-center" style="border-radius: 3rem;" (click)="connect('COINBASE');">
                <div class="wallet-icon-wrapper">
                    <img height="48" src="assets/img/coinbase.svg" alt="coinbase wallet logo">
                </div>
                <div class="position-absolute w-100">Coinbase</div>
            </button>

            <button class="position-relative btn btn-important bg-body d-flex align-items-center" style="border-radius: 3rem;" (click)="connect('FORTMATIC');">
                <div class="wallet-icon-wrapper">
                    <img height="36" src="assets/img/fortmatic.svg" alt="fortmatic wallet logo">
                </div>
                <div class="position-absolute w-100">Fortmatic</div>
            </button>

            <button class="position-relative btn btn-important bg-body d-flex align-items-center" style="border-radius: 3rem;" (click)="connect('METAMASK');">
                <div class="wallet-icon-wrapper">
                    <img height="48" src="assets/img/metamask.svg" alt="metamask wallet logo">
                </div>
                <div class="position-absolute w-100">MetaMask Wallet</div>
            </button>

            <button class="position-relative btn btn-important bg-body d-flex align-items-center" style="border-radius: 3rem;" (click)="connect('POLKADOT');">
                <div class="wallet-icon-wrapper">
                    <img height="48" src="assets/img/polkadot.svg" alt="polkadot wallet logo">
                </div>
                <div class="position-absolute w-100">Polkadot</div>
            </button>

            <button class="position-relative btn btn-important bg-body d-flex align-items-center" style="border-radius: 3rem;" (click)="connect('WALLETCONNECT');">
                <div class="wallet-icon-wrapper">
                    <img height="48" src="assets/img/walletconnect.svg" alt="walletconnect wallet logo">
                </div>
                <div class="position-absolute w-100">WalletConnet</div>
            </button>

        </div>
    </div>
</div>
