<div #modal class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-sm modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="btn-close" (click)="cancel();" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to continue?
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-secondary" (click)="cancel();">cancel</button>
                <button type="button" class="btn btn-danger" (click)="confirm();">confirm</button>
            </div>
        </div>
    </div>
</div>