<nav class="main-component-nav">
    <a class="bg-body border link-unstyled" routerLinkActive="active" [routerLink]="['send']">Send</a>
    <a class="bg-body border link-unstyled" routerLinkActive="active" [routerLink]="['otc']">OTC Trade</a>

    <!-- visible only after md -->
    <a class="d-none d-md-inline bg-body border link-unstyled" routerLinkActive="active" [routerLink]="['transactions']">Transactions</a>

    <ng-container *ngIf="isTestnet()">
        <button class="btn d-none d-md-inline bg-body border mt-3"
            (click)="eboxService.giveTestToken('AAA', 0);"
        >Get 100 AAA</button>
        <button class="btn d-none d-md-inline bg-body border"
            (click)="eboxService.giveTestToken('BBB', 1);"
        >Get 100 BBB</button>
        <button class="btn d-none d-md-inline bg-body border"
            (click)="eboxService.giveTestToken('CCC', 2);"
        >Get 100 CCC</button>
		<!-- <button class="btn d-none d-md-inline bg-body border"
            (click)="eboxService.giveTestToken('EBOX', 3);"
        >Get 100 EBOX</button> -->
    </ng-container>

    <!-- /visible only after md -->

    <!-- visible only before md -->
    <a class="d-md-none bg-body border link-unstyled" href="#" role="button" id="my-dropup" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active" [class.active]="myTransaction.isActive">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="my-dropup" data-popper-placement="top-start" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -40px);">
        <li><a class="dropdown-item" routerLinkActive="active" #myTransaction="routerLinkActive" [routerLink]="['transactions']">Transactions</a></li>

        <ng-container *ngIf="isTestnet()">
            <li><hr class="dropdown-divider"></li>
            <li>
                <button class="btn dropdown-item"
                    (click)="eboxService.giveTestToken('AAA', 0);"
                >Get 100 AAA</button>
            </li>
            <li>
                <button class="btn dropdown-item"
                    (click)="eboxService.giveTestToken('BBB', 1);"
                >Get 100 BBB</button>
            </li>
            <li>
                <button class="btn dropdown-item"
                    (click)="eboxService.giveTestToken('CCC', 2);"
                >Get 100 CCC</button>
            </li>
			<!-- <li>
                <button class="btn dropdown-item"
                    (click)="eboxService.giveTestToken('EBOX', 3);"
                >Get 100 EBOX</button>
            </li> -->
        </ng-container>

    </ul>
    <!-- /visible only before md -->

</nav>
<div class="main-component-card card">
    <router-outlet></router-outlet>
</div>