:host {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 60px);
    align-items: center;
}

.main-component-card {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    max-height: 100%;
}

.main-component-nav {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 -5px 10px #0001;
}

.main-component-nav a {
    text-align: center;
    padding: 1rem 0;
}

.main-component-nav a.active {
    color: var(--bs-white) !important;
    background-color: var(--bs-primary) !important;
}

@media (max-width: 767px) {
    .main-component-card {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    :host {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        padding: 3rem;
    }

    .main-component-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .75rem;
        width: unset;
        margin-left: -10rem; /* Hackfix to center the component */
        box-shadow: none;
    }

    .main-component-nav a {
        border-radius: 1.2rem;
        padding: .5rem 1rem;
        box-shadow: 0 5px 10px #0002;
    }

    .main-component-card {
        max-width: 543px;
        box-shadow: 0 5px 10px #0002;
    }
}
